<div class="stolen-frosty">

	<h1 class="stolen-h1">Pizza Places in Australia
	</h1>

<br/>

	<h2>
		Delivery's from Sydney in 30 hours or less!!!!
	</h2>

<br/>
<br/>

<%= link_to 'Launch', pizzas_path, :class=> 'btn btn-large' %>

</div>