<div class="stolen-frosty">

	<h1 class="stolen-h1">Pizza Places in Australia
	</h1>

<br/>

	<h2>
		I'm from Pittsburgh and having a blast learning about ruby web development
	</h2>

<br/>
<br/>


</div>